.item {
    display: flex;
    justify-content: space-between;
    width: 29vw;
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container {
    width: 50vw;

}

.thead {
    height: 36px;
    background: #E5E5E5;


}

.nameCol {

}

.ageCol {

}