.item {

}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
display: flex;
    justify-content:center;
    gap:10px;
}

.container {
    /*position: absolute;*/
    width:  606px;

}

.thead {
    height: 36px;
    left: 70px;
    background: #E5E5E5;

}

.nameCol {
    margin-right: 200px;
}

.ageCol {

}