.App {
    background: #FFFFFF;
    border-bottom: #0059b3;
}

.hw {
    padding: 0 4.6vw;
    display: block;
    margin: 168px 0;
    position: relative;

}

.hwTitle {
    padding: 2.6vw 4.6vw;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;
    width: 100%;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}