.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;



    color: #CC0000;
}

.input {
    margin: 10px;
    width: 24.5vw;
    height: 2.5525vw;
    box-sizing: border-box;
    border-radius: 5px;


    font-weight: 500;
    font-size: 16px;
    color: #000000;

}

.input:focus {

}

.errorInput {

    border: 1px solid #CC0000;

}

.button {
    width: 5vw;
    height: 2.5525vw;
    margin-top: 10px;


    background: #0066CC;


    border-radius: 3px;

    /*width: 30px;*/
    /*height: 20px;*/



    font-weight: 600;
    font-size: 14px;
    line-height: 20px;


    color: #FFFFFF;


}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;



    color: rgba(0, 0, 0, 0.5);
}

.greeting {

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}


