.button {
    overflow: hidden;
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;

}

.disabled {
    color: white;
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    color: #0059b3;
    background: transparent;
    border: 1px solid #0059b3;
    border-radius: 3px;
}

.default {
    background: #0066CC;

}

.red {

    background: #CC1439;

}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
